
@using System.Data
@model WebReport.Models.Importsql
@{
    ViewBag.Title = "CapNhat";
    Layout = "~/Views/Shared/_Layout _TienDo.cshtml";
}
<br />
@using (Html.BeginForm("WriteDataToExcel", "Home"))
{
    <button class="btn btn-default">File mau</button>
}

<h1>Import Excel File Tien Do CBQL</h1>

<div id="viewContent">
    <h3>@ViewBag.Result</h3>
    @using (Html.BeginForm("ImportTienDoCBQL", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(m => m.file, new { type = "file" })
        <button id="submitButton" type="submit">Tai file</button>
        @Html.ValidationMessageFor(model => model.file)
    }
    <table>
        <th>
            @using (Html.BeginForm("ResetTienDoCBQL", "Home"))
            {
                <button class="btn btn-default">Upload</button>
            }
        </th>
        <th>
            @using (Html.BeginForm("WriteTienDoCBQL", "Home"))
            {
                <button class="btn btn-default">Export</button>
            }
        </th>
    </table>
    <table>

        @for (int i = 0; i < WebReport.Controllers.HomeController.TienDoCBQL1().Rows.Count; i++)
        {
            <tr>
                @for (int j = 0; j < WebReport.Controllers.HomeController.TienDoCBQL1().Columns.Count; j++)
                {
                    <td>@WebReport.Controllers.HomeController.TienDoCBQL1().Rows[i][j]</td>
                }
            </tr>
        }
    </table>


</div>
<h1>Import Excel File Tien Do MLNS</h1>

<div id="viewContent">
    <h3>@ViewBag.Result</h3>
    @using (Html.BeginForm("ImportTienDoMLNS", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(m => m.file, new { type = "file" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.file)
    }
    <table>
        <th>
            @using (Html.BeginForm("ResetTienDoMLNS", "Home"))
            {
                <button class="btn btn-default">Upload</button>
            }
        </th>
        <th>
            @using (Html.BeginForm("WriteTienDoMLNS", "Home"))
            {
                <button class="btn btn-default">Export</button>
            }
        </th>
    </table>
    <table>

        @for (int i = 0; i < WebReport.Controllers.HomeController.TienDoMLNS1().Rows.Count; i++)
        {
            <tr>
                @for (int j = 0; j < WebReport.Controllers.HomeController.TienDoMLNS1().Columns.Count; j++)
                {
                    <td>@WebReport.Controllers.HomeController.TienDoMLNS1().Rows[i][j]</td>
                }
            </tr>
        }
    </table>

</div>

